.hero {
  margin-bottom: 2em;
}

.card {
  margin-bottom: 0.5em;
}

.card.is-first {
  margin-top: 0; 
}

.card.is-padding-and-margin.is-active {
  margin: 1.3em 0;
}

.card.is-padding-and-margin {
  transition: margin 0.1s ease-in-out;
}

.card.is-padding-and-margin .card-content {
  transition: padding 0.1s ease-in-out;
  padding: 0 1.5rem;
}

.card.is-active.is-padding-and-margin .card-content {
  padding: 1.5rem;
}